<header class="overlay-black">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="menu">
                    <div class="brand-logo" style="padding: 8px; width: 6vw;">
                        <a href="../index.html">
                            <img src="../assets/images/exteranl-images/logo.jpg" style="border-radius: 5px;" alt="" class="img-fluid blur-up lazyload">
                        </a>
                    </div>
                    <nav>
                        <div class="main-navbar">
                            <div id="mainnav">
                                <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                                <div class="menu-overlay"></div>
                                <ul class="nav-menu">
                                    <li class="back-btn">
                                        <div class="mobile-back text-end">
                                            <span>Back</span>
                                            <i aria-hidden="true" class="fa fa-angle-right ps-2"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <ul class="header-right">
                        <li>
                            <a href="#" class="nav-link menu-title">Sign In</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link menu-title">Home</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link menu-title">Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
